html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.navbar {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100vw;
    border-bottom: 1px solid #b3b3b3;
}
.logoforbar {
    height: 40px;
    position: absolute;
    top: 10px;
    left: 20%;
}
.iconsforbars {
    height: 40px;
    position: absolute;
    top: 10px;
    right: 20%;
}
.iconsforbars img{
    height: 40px;
}
.iconsforbars a {
    padding-left: 10px;
    padding-right: 10px;
}
.postmain {
    position: absolute;
    top: 70px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.post-button {
    background-color: transparent;
    color: #313131;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0px;
}
.preview-image {
    max-width: 40vw;
    max-height: 40vh;
    image-orientation: from-image;
}
.preview-image1 {
    max-width: 100%;
    max-height: 60vh;
    display: block;
}
.cropdiv{
    max-width: 100%;
}
.preview {
    overflow: hidden;
    height: 30vh;
  }
.gallery-main {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.home-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.gallery-images img {
    width: 100%;
    height: auto;
  }
  .home-images img {
    width: 100%;
    height: auto;
  }
.error{
    color: #313131;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.home-main {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0px;
}
.postpage-main {
    margin: 0;
    width: 30%;
    max-height: 50vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0px;
    text-align: center;
}
.postpage-image {
    width: 100%;

}
.home-main img{
    padding: 0;
    margin: 0; 
}
.postpage-views {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    color: #313131;
    font-size: 20px;
}
.caption-for-posts {
    width: 100%;
    word-wrap: break-word;
    height: 40px;
    overflow-y: hidden;
    font-size: 17px;
}
.caption-for-posts1 {
    width: 100%;
    word-wrap: break-word;
    font-size: 17px;
}
.caption-button {
    float: left;
}
.postpage-views img {
    width: 30px;
    float: left;
    padding-right: 20px;
}
.postpage-views button {
    border: 0;
    background: transparent;
}
.postimagediv {
    width: 100%;
}
.backbutton {
    text-align: left;
    padding-left: 25%;
}
.backbutton img {
    height: 40px;
}
.backbutton button {
    background: transparent;
    border: none;
}
#caption-text-box {
    width: 50%;
    min-width: 150px;
    max-width: 300px;
    height: 90px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    resize: none;
    background-color: white;
    border-radius: 10px;
    color: #313131;
    padding: 5px;
    border: 0;
}
#caption-button {
    color: #313131;
}
.filler {
    height: 7vh; 
    width: 100%;
}
@media screen and (max-width: 830px) {
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    .home-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    .postpage-main {
        width: 50%;
    }
    .backbutton {
        padding-left: 10%;
    }
}
@media screen and (max-width: 450px) {
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    .home-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    .postpage-main {
        width: 75%;
    }
    /*.navbar {
        position: fixed;
        top: 100vh;
        height: 40px;
        width: 100vw;
        background-color: white;
        transform: translateY(-40px);
        z-index: 1000;
        border-top: 1px solid #b3b3b3;
    }
    .logoforbar {
        height: 30px;
        position: absolute;
        top: 5px;
        left: unset;
    }
    .iconsforbars {
        height: 30px;
        position: absolute;
        top: 5px;
        right: unset;
        width: 100%;
    }
    .iconsforbars img{
        height: 30px;
    }
    .iconsforbars a {
        padding-left: unset;
        padding-right: unset;
    }
    #plus {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #logo {
        z-index: 100000;
        position: absolute;
        left: 25%;
        transform: translateX(-30px);
    }
    #waffle {
        position: absolute;
        right: 25%;
        transform: translateX(30px);
    }
    .filler {
        height: 0vh;
    }
    .postmain {
        top: 0px;
    }*/
}