html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.navbar {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100vw;
    border-bottom: 1px solid #b3b3b3;
}
.logoforbar {
    height: 40px;
    position: absolute;
    top: 10px;
    left: 20%;
}
.iconsforbars {
    height: 40px;
    position: absolute;
    top: 10px;
    right: 20%;
}
.iconsforbars img{
    height: 40px;
}
.iconsforbars a {
    padding-left: 10px;
    padding-right: 10px;
}
.postmain {
    position: absolute;
    top: 70px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.post-button {
    background-color: transparent;
    color: #313131;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0px;
}
.preview-image {
    max-width: 40vw;
    max-height: 40vh;
    image-orientation: from-image;
}
.preview-image1 {
    max-width: 100%;
    max-height: 60vh;
    display: block;
}
.cropdiv{
    max-width: 100%;
}
.preview {
    overflow: hidden;
    width: 30vw; 
    height: 30vh;
  }
.gallery-main {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.gallery-images img {
    width: 100%;
    height: auto;
  }
.error{
    color: #313131;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
@media screen and (max-width: 830px) {
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
}
@media screen and (max-width: 430px) {
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
}