{% extends 'head.html' %}
{% load static %}

{% block head %}
    <title>gallery</title>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <script src="{% static 'js/lazyload.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
{% endblock %}

{% block body %}
    <div class="filler"></div>
    <div class='gallery-main'>
        <h1 style="font-size: 50px; color: #313131; font-family: 'Source Sans Pro', sans-serif;">gallery</h1>
        <hr style="color: #313131">
        <div style="height: 3vh; width: 100%;"></div>
        <div class='gallery-images'>
            {% for img in images %}
                <a href="/p/{{img.1}}"><img src="{% static 'images/blank.png' %}"data-src="/media/images/{{img.0}}" alt="" class="preview-image"></a>
            {% endfor %}
        </div>
    </div>
    <div style="width: 100%; height: 25vh;"></div>
{% endblock %}