<!DOCTYPE html> 
<html lang=en>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Greer's website'">
    <meta name="author" content="Greer Page">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="{% static 'script.js' %}"></script>-->
    <link rel="icon" href="{% static '/images/logo1.png' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    {% if nav == True %}
        <div class="navbar">
            <a href="/"><img src="{% static 'images/logo1.png' %}" alt="logo" class="logoforbar"></a>
            <div class="iconsforbars">
                <a href="/post"><img src="{% static 'images/icons/plus.png' %}" alt="plus"></a>
                <a href="/gallery"><img src="{% static 'images/icons/waffle.png' %}" alt="logo"></a>
            </div>
            
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>