{% extends 'head.html' %}
{% load static %}

{% block head %}
    <title>post</title>
    <script src="{% static 'js/display.js' %}"></script>
{% endblock %}

{% block body %}
    <div style="height: 7vh; width: 100%;"></div>
    <div class="backbutton">
        <button onclick="history.back()"><img src="{% static 'images/icons/x.png' %}" alt="x"></button>
    </div>
    <div class="postpage-main">
        <div class="postimagediv">
            
            <img src="/media/images/{{postnameext}}" alt="{{postnameext}}" class='postpage-image'>
            <div class="postpage-views">
                <p><img src="{% static 'images/icons/eye.png' %}" alt="eye"></p>
                <p>{{views}}</p>
                {% if caption != '' %}
                    
                    {% if more == True %}
                        <div class="caption-for-posts" id='caption-for-posts'>
                            <p>{{caption}}</p>
                        </div>
                        <button onclick="displayPostCaption()" class="caption-button">
                            <p style="float: left;"  id="caption-button" id="less">...  </p>
                            <p id="more-text" style="float: left; padding-left: 5px;">more</p>
                        </button>
                    {% else %}
                        <div class="caption-for-posts1" id='caption-for-posts'>
                            <p>{{caption}}</p>
                        </div>
                    {% endif %} 
                {% endif %}
            </div>
        </div>
        
        
    </div>
{% endblock %}