{% extends 'head.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static '/cropperjs/dist/cropper.js' %}"></script>
    <script src="{% static '/jquery-cropper/dist/jquery-cropper.js' %}"></script>
    <link  href="{% static '/cropperjs/dist/cropper.css' %}" rel="stylesheet">
    <title>post</title>
{% endblock %}

{% block body %}
<div class="postmain">
    <h1 style="font-size: 50px; color: #313131; font-family: 'Source Sans Pro', sans-serif;">new post</h1>
    
    <div id='to-hide'>
        <div style="height: 20px;"></div>
        <div class="cropdiv">
            <div id="crop">
                <img style="display:none" id="image" src="#" class="preview-image1"> 
            </div>
        </div> 
        <div style="height: 20px;"></div>
    </div>
    <form method = "post" enctype="multipart/form-data" id="imgform"> 
        {% csrf_token %} 
        <div style="display: none;">
            {{form}}
        </div>
        <button type="submit" class="post-button" id='post-botton-submit' style='visibility: hidden;'>post</button>
    </form> 
    <button id="first" class="post-button">browse</button>
    <button id = 'next-button' class='post-button' style='visibility: hidden;'>next</button>
    <button id="done-button" class="post-button" style='visibility: hidden;'>done</button>
    <div class="preview" style='visibility: hidden;' id="preview"></div>
    <div style="height: 20px;"></div>
    <button class="post-button" id='post-botton-submit-yeah' style='visibility: hidden;'>post</button>
    <p class="post-button" id="posting-text" style='visibility: hidden;'>posting...</p>
</div>
{% endblock %}